body {
	padding: 1em 3em;
	font-family: "trebuchet ms", sans-serif;
	color: black;
}

header {
	margin: 1em 1em;
}

header h1 a,
header h1 a:visited {
	text-decoration: none;
	color: black;
}

p {
	font-size: 0.9em;
}

#you-didnt-just-type-that img{
	width: 30em;
	border: 2px inset gray;
}

#keep-calm img{
	height: 20em;
	border: 2px inset gray;
	margin-left: 4em;
}

footer {
	margin: 5em 2.5em 1em 3em;
	width: 22em;
}

footer div {
	float: left;
	margin: 0.1em 0.5em;
	font-size: 8pt;
}

footer #flurdy-footer{
	width: 3em;
	padding: 0.2em 1em 0 0;
}

footer #cc-license {
	float: right;
}
footer #cc-license img {
	height: 1.2em;
}

footer a, footer a:visited {
	color: gray;
}



