@()

@main("About Let me spell that for you") {

	<h2>About</h2>

	<h3>Why lmstfy.org exists?</h3>

	<p>
		To facilitate an easy way to explain to people that they have misspelled their desired url domain,
	</p>
	<p>
		to then show how to get to their probably correct url,
	</p>
	<p>
		and to avoid unethical typo-squatting ad-infested sites or worse; phishing sites
	</p>
	<p>
		(which was <a href="http://blog.flurdy.com/2012/04/avoiding-cyber-squatting-failure.html">a dilemma flurdy faced</a>)
	</p>

	<h3>How lmstfy.org works</h3>

	<p>
		Someone registers a misspelled domain with a proper target domain
	</p>
	<p>
		lmstfy.org will show a link to the target domain when people go to the misspelled domain
	</p>
	<p>
		For any domains not registered we will show how to search for what is probably the most likely target domain
	</p>

	<h3>How to register with lmstfy.org</h3>

	<p>
		<a href="@routes.Application.showRegister">Create an account</a> and <a href="@routes.Application.showLogin">log in</a>
	</p>

	<p>
		Add a misspelled domain to lmstfy.org and set the target domain.<br/>
		You can have multiple domains redirected to the same target domain
	</p>

	<p>
		If it is a new domain, register the domain with a domain registrar
	</p>

	<p>
		Configure your domain's DNS as appropriate
	</p>

	<p>
		Modify your http redirect settings for your website to point the misspelled domain to lmstfy.org
	</p>

	<p>
		(<i>For specific technical solutions, visit <a href="@routes.Application.showSupport">lmstfy.org support</a></i>)
	</p>

	<h3>For owners of a target domain</h3>

	<p>
		If you want to know the traffic volume that gets redirected,
		<a href="@routes.Application.showContact">lmstfy.org can provide that</a>
	</p>

	<p>
		If you want to purchase and transfer the misspelled domain ownership to yourself,<br/>
		<a href="@routes.Application.showContact">lmstfy.org will mediate the message</a> to the current owner for you
	</p>

	<p>
		If you want to speak to the misspelled domain current owner for other reasons,<br/>
		<a href="@routes.Application.showContact">lmstfy.org may mediate the message</a> to the owner for you
	</p>

	<p>
		If you think the typo domain is offensive,<br/>
		<a href="@routes.Application.showContact">contact lmstfy.org</a> and lmstfy.org will review and remove it if deemed offensive
	</p>

	<p>
		If you want lmstfy.org to remove the typo domain for no valid reasons: No
	</p>

	<h3>Project source code</h3>

	<p>
		All source code is available at <a href="https://bitbucket.org/flurdy/lmstfy">bitbucket.org/flurdy/lmstfy</a>
	</p>


	<h3>Licenses</h3>

	<p>
		All source code is licensed with the <a href="https://bitbucket.org/flurdy/lmstfy/src/308fad99d92aef7e86f109032d7c9d45c6173af2/LICENSE.md?at=master">MIT license</a>
	</p>

	<p>All text, images and ideas are licensed with the <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons - Attribution-ShareAlike 3.0 license</a>.
	</p>


}
