@()

@main("Let me spell that for you") {


	@if(Math.random>0.9){
		<div id="you-didnt-just-type-that" title="You didn't just type that?!">
			<img src="@routes.Assets.at("images/no-you-didnt.gif")" alt="Oh no you didn't!?"/>
		</div>
	} else {
		<div id="keep-calm" title="You didn't just type that?!">
			<img src="@routes.Assets.at("images/keep-calm-and-learn-to-spell-12.png")" alt="Oh no you didn't!?"/>
		</div>
	}


}
